@model AbhiShop.Webmvc.Models.InventoryItem

@*<form asp-controller="Cart" asp-action="AddToCart">*@
    <img class="ashop-inventory-thumbnail" src="@Model.imageURL" />
    
    <div class="ashop-inventory-name">
        <span>@Model.productName</span>
    </div>
    <div class="ashop-inventory-price">
        <span>@Model.price.ToString("N2")</span>
    </div>
    @*<input type="hidden" asp-for="@Model.CatalogBrand" name="brand" />
    <input type="hidden" asp-for="@Model.CatalogBrandId" name="brandId" />
    <input type="hidden" asp-for="@Model.CatalogType" name="type" />
    <input type="hidden" asp-for="@Model.CatalogTypeId" name="typeId" />
    <input type="hidden" asp-for="@Model.Description" name="description" />
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
    <input type="hidden" asp-for="@Model.Price" name="price" />*@
@*</form>*@